@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'arboria';
  font-size: 16px;
}

@layer base {
  .btn {
    @apply px-5 py-3;
    &--primary {
      @apply rounded-2xl bg-blue-600 font-medium text-white transition-colors;
      &:hover {
        @apply bg-blue-500;
      }
    }
  }

  .blackout {
    &:before {
      @apply fixed inset-0 h-full w-full bg-black opacity-60;
    }
  }

  .section {
    @apply relative py-36;
    &--sm {
      @apply py-24;
    }
    &--md {
      @apply py-32;
    }
    &--lg {
      @apply py-36;
    }
  }

  .bg-gradient-dark {
    background: linear-gradient(180deg, #111827 0%, #1f293e 100%);
  }

  .text-gradient {
    background: linear-gradient(270deg, #ffffff 7.55%, #666a77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-dark {
    background: linear-gradient(270deg, #ffffff 7.55%, #666a77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text-shadow {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .green-circle {
    &:after {
      content: '';
      @apply w-2 h-2 mt-4 rounded-full bg-green-500 animate-ping;
    }
  }

  .footer {
    position: relative;
    &:before {
      content: '';

      background: conic-gradient(from 180deg at 50% 50%, #3327f9 0deg, rgba(154, 149, 238, 0) 360deg);
      filter: blur(100px);
      transform: rotate(-129.51deg);
      position: absolute;
      right: 0;
      top: 0;
      width: 1100px;
      height: 1100px;
      z-index: 0;
    }
  }

  .link-hover {
    position: relative;
    white-space: nowrap;
    &:before {
      content: '';
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
    }
    &:hover {
      &:before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
  }

  .accordion-item {
    @apply border-b border-gray-700;
    &__button {
      @apply py-8 w-full text-left flex justify-between items-center text-2xl font-medium;
    }
    &__content-wrapper {
      height: 0;
      overflow: hidden;
      transition: height ease 0.2s;
    }
  }
}

address {
  font-style: normal;
}
