@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header--text: #fff;
}

html {
  font-family: 'arboria';
  font-display: swap;
  font-size: 16px;
  @apply antialiased bg-gray-100 overflow-x-hidden;
}

html,
body {
  overscroll-behavior: none;
}

@layer base {
  .prose {
    --tw-prose-bullets: #4f46e5;
  }
  .btn {
    @apply px-5 py-3;
    &--primary {
      @apply rounded-2xl bg-blue-600 font-medium text-white transition-colors;
      &:hover {
        @apply bg-blue-500;
      }
    }

    &--secondary {
      @apply rounded-2xl bg-white font-medium text-gray-950 transition-colors;
      &:hover {
        @apply bg-gray-400;
      }
    }
  }

  .blackout {
    &:before {
      @apply fixed inset-0 h-full w-full bg-black opacity-60;
    }
  }

  .section {
    @apply relative py-16 md:py-36;
    &--sm {
      @apply py-16 md:py-24;
    }
    &--md {
      @apply py-16 md:py-32;
    }
    &--lg {
      @apply py-16 md:py-36;
    }
  }

  .bg-gradient-dark {
    background: linear-gradient(180deg, #111827 0%, #1f293e 100%);
  }

  .bg-checked {
    background: url('/checked.svg') no-repeat center center;
  }

  .text-gradient {
    background: linear-gradient(90deg, #6366f1 0%, #ac54f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-overlay {
    position: relative;
    &:before {
      content: '';
      @apply w-full h-full absolute inset-0 bg-gray-950 opacity-60;
    }
  }

  @keyframes loader {
    0% {
      clip-path: inset(0% 50%);
    }

    50% {
      clip-path: inset(0% 0%);
    }

    100% {
      clip-path: inset(0% 50%);
    }
  }

  .loader-animation {
    animation: loader 1.2s forwards;
  }

  .logo-border-bottom {
    position: relative;
    &:after {
      content: '';
      width: 90%;
      @apply block left-0 mx-auto inset-x-0 absolute bottom-0  bg-gray-700 h-[1px];
    }
  }

  .bg-card-gradient {
    @apply relative overflow-hidden;
    &:before {
      content: '';
      width: 380px;
      padding-bottom: 100px;
      z-index: 1;
      @apply block absolute -right-[12%] bottom-[41%];
      background: conic-gradient(from 180deg at 50% 50%, #9330d0 0deg, rgba(79, 70, 229, 0) 360deg);
      filter: blur(50px);
      transform: rotate(-129.51deg);
    }
  }

  .text-gradient-dark {
    background: linear-gradient(270deg, #ffffff 7.55%, #666a77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text-shadow {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }

  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }

  .green-circle {
    &:after {
      content: '';
      @apply w-2 h-2 mt-4 rounded-full bg-green-500 animate-ping flex-none;
    }
  }

  .footer {
    position: relative;
    &:before {
      content: '';
      @apply animate-spin-slow;
      background: conic-gradient(
        from 132.9deg at 50% 50%,
        rgba(87, 77, 241, 0) -22.5deg,
        rgba(111, 62, 250, 0.7) 22.5deg,
        rgba(125, 50, 247, 0.723958) 76.88deg,
        rgba(185, 56, 245, 0.54) 165deg,
        rgba(219, 62, 244, 0.35) 236.25deg,
        rgba(243, 111, 69, 0.191406) 290.63deg,
        rgba(87, 77, 241, 0) 337.5deg,
        rgba(111, 62, 250, 0.7) 382.5deg
      );
      opacity: 0.5;
      filter: blur(120px);
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      padding-bottom: 100%;
      z-index: 0;
    }
  }

  .last-not-hidden {
    @apply hidden;
    &:last-child {
      @apply flex;
    }
  }

  .link-hover {
    position: relative;
    white-space: nowrap;
    &:before {
      content: '';
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s;
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
    }
    &:hover {
      &:before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
      }
    }
  }

  .accordion-item {
    &__button {
      @apply py-8 w-full px-2 text-left flex justify-between items-center text-2xl font-medium;
    }
    &__content-wrapper {
      height: 0;
      overflow: hidden;
      transition: height ease 0.2s;
    }
  }

  .bg-dotted {
    @apply relative overflow-hidden;
    &:before {
      content: '';
      @apply absolute w-full h-full;
      background-image: url('/bg-dotted.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

address {
  font-style: normal;
}
